.weather-frame {
  height: 600px;
  width: 100%;
}
.flex-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Top flex panel */
.top-frame-panel {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  height: 50%;
  width: 100%;
  padding-top: 25px;
}
.weather-display-panel {
  background-color: rgba(150, 175, 200, 0.17);
  width: 100%;
  height: 100%;
}
.top-panel-item {
  align-self: auto;
  width: 33%;
}

/* Bottom flex panel */
.bot-frame-panel {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 100%;
  height: 50%;
}
.bot-panel-item {
  align-self: auto;
  width: 20%;
  padding: 50px 3px 0px 3px;
}

/* Backgrounds */
.clear-skys {
  background-image: url('../../../assets/images/sunny-clear.jpg');
  background-size: cover;
}
.cloudy {
  background-image: url('../../../assets/images/cloudy.jpg');
  background-size: cover;
}
.rain {
  background-image: url('../../../assets/images/rain.jpg');
  background-size: cover;
}
.snow {
  background-image: url('../../../assets/images/snow.jpg');
  background-size: cover;
}
.fog {
  background-image: url('../../../assets/images/fog.jpg');
  background-size: cover;
}
.overcast {
  background-image: url('../../../assets/images/overcast.jpg');
  background-size: cover;
}

/*Titles and subtitles */
.frame-title {
  font-size: 2.2em;
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
}
.temp {
  font-size: 12em;
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
}
.date-time-display {
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
}
.forecast-detail {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
}
.uv-index {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
}

.forecast-desc {
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.6);
  text-transform: capitalize;
}

.button-group-align {
  display: flex;
  justify-content: center;
  text-shadow: 0px 10px 20px rgba(60, 60, 60, 0.2);
}

/* Colors for hot and cold */
.color-cold {
  color: #3893e8;
  margin-left: 3px;
}
.color-hot {
  color: #d43f3a;
  margin-right: 3px;
}

/*flex controls */
.flex-left {
  align-self: flex-start;
}
