<div [ngClass]="getForecastBackground(currentWeather.weather[0].main, currentWeather.weather[0].description)">
  <div class="weather-display-panel">
    <div class="top-frame-panel">
      <div class="top-panel-item">
        <h1 class="frame-title">{{currentWeather.name}}</h1>
        <h1 class="date-time-display">{{currentDateTime | date: 'EEEE, MMMM d, y'}}</h1>
      </div>
      <div class="top-panel-item">
        <h1 *ngIf="isFahr" class="temp">{{ currentWeather.main.temp | temp}}&deg;F
        </h1>
        <h1 *ngIf="isCelsius" class="temp">{{ currentWeather.main.temp | temp:'c'}}&deg;C
        </h1>
        <div class="slds-button-group button-group-align" role="group">
          <button (click)="setIsFahr()" class="slds-button slds-button_neutral">&deg;F</button>
          <button (click)="setIsCels()" class="slds-button slds-button_neutral">&deg;C</button>
        </div>
        <h1 class="forecast-desc">{{ currentWeather.weather[0].description}}</h1>
        <h1 class="uv-index">UV Index: {{currentWeather.uvIndex}} of 10 </h1>
      </div>
      <div class="top-panel-item ">
        <h1 *ngIf="isFahr" class="frame-title flex-left">
          <span class="color-hot">H {{currentWeather.main.temp_max | temp}}&deg;F</span>
          |
          <span class="color-cold">L {{currentWeather.main.temp_min | temp}}&deg;F</span>
        </h1>
        <h1 *ngIf="isCelsius" class="frame-title flex-left">
          <span class="color-hot">H {{currentWeather.main.temp_max | temp:'c'}}&deg;C</span>
          |
          <span class="color-cold">L {{currentWeather.main.temp_min | temp:'c'}}&deg;C</span>
        </h1>
        <h1 class="forecast-detail">Humidity: {{currentWeather.main.humidity}}%</h1>
        <h1 class="forecast-detail">Pressure: {{currentWeather.main.pressure | pressureConverter}} in</h1>
        <h1 class="forecast-detail">Wind: {{currentWeather.wind.deg | windDirection}} {{currentWeather.wind.speed}} mph</h1>
      </div>
    </div>
    <div class="bot-frame-panel">
      <div *ngFor="let day of fiveDayWeather" class="bot-panel-item">
        <app-five-day [forecast]="day"></app-five-day>
      </div>
    </div>
  </div>
</div>