<div class="slds-grid full-height">
  <div class="slds-col full-height slds-size_3-of-12">
    <nav class="slds-nav-vertical" aria-label="Sub page">
      <div class="slds-nav-vertical__section">
        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Locations</h2>
        <ul>
          <li *ngFor="let location of locations" class="slds-nav-vertical__item"><a [routerLink]="['viewweather', location.cityId]"
              class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">{{location.name}}</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="slds-col full-height slds-size_9-of-12">
    <router-outlet></router-outlet>
  </div>
</div>